body {
	background: #f4f4f4;
	background-color: #084aa4;
	font-family: 'Helvetica';
	padding: 0;
	margin: 0;
}
  
.match-area {
	display: flex;
	width: 65%;
	height: 75vh;
	margin: auto;
	margin-top: 5%;
  
	form {
	  flex: 1;
	  background: #f3f5f9;
	  padding: 20px;
	  border-radius: 5px 0 0 5px;
  
	  label {
			display: block;
			color: #7f8ca2;
			font-weight: 600;
			padding-bottom: 10px;
	  }
	} // end form

	div {
	  flex: 1;
	  padding: 20px;
	  background-color: #fafbfd;
	  border-top-right-radius: 5px;
	  border-bottom-right-radius: 5px;
	}

	button {
		background-color: #00d57f;
		color: white;
		font-size: 15px;
		border: none;
		border-radius: 5px;
		padding: 10px 40px;
		margin-top: 5%;
		&:hover {
			cursor: pointer;
		}
	}

  textarea {
		display: block;
		font-family: 'Helvetica';
		width: 100%;
		height: 150px;
		padding: 10px;
		border-radius: 5px;
		font-size: 15px;
		resize: none;
		border: none;
		margin: auto;
	}
  
	input {
	  background-color: white;
	  color: #7f8ca2;
	  width: 90%;
		margin: 5px 10px 40px 0;
	  border: none;
	  border-radius: 5px;
	  padding: 12px 8px;
	  font-weight: 600;
	}

	fieldset {
		width: 75%;
		border: none;
		margin: auto;
	}

	h4 { 
    color: #484c5a;
	}

} // end .match-area